.exhibition a {
    text-decoration: none;
}
.exhibition a:hover {
    color: #2b2b2b;
}

.exhibition h3 {
    font-family: 'ACCchildrensky';
    font-weight: bolder;
}

.exhibition p {
    font-family: 'ACCchildrensky';
    font-size: 1.5rem;
    margin-top: 5vh;
}

.exhibition>div>div:first-child {
    padding-top: 27vh;
}

.exhibition>div>div:last-child {
    padding-top: 30vh;
}

.exhibition .sticker2 {
    z-index: 1;
    left: 0vw;
    top: 18vh;
} 

@media (max-width:1200px) {
    .exhibition>div>div:first-child {
        padding-top: 15vh;
    }
    .exhibition>div>div:last-child {
        padding-top: 10vh;
    }
    .exhibition .sticker2 {
        top: 7vh;
    }
}

/* 자바스크립트 효과 */
.exhibitionTxt {
    opacity: 0;
    margin-top: 10vh;
    transition: 2s;
}