.about {
    font-family: 'ACCchildrensky';
    background-color: #000;
}

.about h3 {
    font-size: 2rem;
    margin-top: 20vh;
    font-weight: bolder;
}

.about p {
    font-size: 1.5rem;
    margin-top: 15vh;
    line-height: 3rem;
}

.about p:last-child {
    margin-top: 0;
    font-weight: bolder;
}

/* 서점 이미지 자리잡기 */
.about img:nth-child(1) {
    left: 5vw;
    top: 40vh;
}

.about img:nth-child(2) {
    left: 30vw;
    top: 15vh;
}

.about img:nth-child(3) {
    left: 45vw;
    top: 60vh;
}

.about img:nth-child(4) {
    left: 60vw;
    top: 25vh;
}

.about img:nth-child(5) {
    left: 80vw;
    top: 55vh;
}

@media (max-width:1200px) {
    .about h3 {
        font-size: 1.8rem;
    }
    .about p {
        font-size: 1.3rem;
    }
    .about img {
        display: none;
    }
}

/* 자바스크립트 효과 */
.img-wrap {
    left: 80vw;
    transition: 60s;
}

.aboutTxt {
    opacity: 0;
    margin-top: 10vh;
    transition: 2s;
    z-index: 1;
    color: #fff;
}

.about span{
    position: absolute;
    pointer-events: none;
    background-color: #fff;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: scale(1) translateY(-500%) rotate(360deg);
        opacity: 0;
    }
}